.seat{width: 100%; height: 60px; border-bottom: 1px solid #dedede; line-height: 60px;}
.seat:after{content: ""; display: inline-block; clear: both;}

.seat>li{float: left; width: 25%; text-align: center; position: relative;}
/*.seat>li:before{content: ""; display: inline-block; width: 4px; height: 4px; background-color: #dedede;
position: absolute; top: 50%; right: 1%;}
.seat>li:last-child:before{display: none;}*/

.seat>li:hover:after,.seat>li:focus:after{content: ""; display: inline-block;
	position: absolute; bottom: 3px; left: 0;
	width: 100%;
	border-bottom: 3px solid #cf3128;}
.seat>li>a{
	font-size: 2rem; color: #333;}

.seatimg{margin-top: 60px; text-align: center;}

/*이미지 같이 화면크기랑 같이 줄어들게*/
.seatimg>img{width: 100%;}

@media (max-width:1279px) {
	
}


@media (max-width:767px) {
	
}