@font-face {
    font-family: 'NotoSansCJKkr-Regular';
	src: url("font/NotoSansCJKkr-Regular.otf") format("opentype");
	}

/*pc500px*/

*{margin: 0; padding: 0;}
html{font-size: 10px;}
body{font-family: NotoSansCJKkr-Regular;
 color: #333;}
ul, li{list-style: none;}
a{text-decoration: none;}

/*헤더*/
#header{width: 100%;}
.t_header{width: 1200px; height: 88px; margin: 0 auto; padding-bottom: 20px;}
.t_header:after{content: ""; display: inline-block; clear: both;}

.t_header>.logo{float: left;
	 margin-top: 8px;
}

.t_header>ul{float:right; line-height: 108px;}
.t_header>ul:after{content: ""; display: inline-block; clear: both;}
.t_header>ul>li{float: left;
	font-size: 1.6rem; color: #333; 
	margin-right: 12px;
}
.t_header>ul>li:last-child{color: #996600; font-weight: bold;}

/*햄메뉴*/

.m_hammn{display: none; position: relative;}

.m_hammn>li{position: absolute; top: 25px; right: 0;
	display:block;	
	line-height:50px; text-indent:30px; color:#000; font-weight:bold; text-decoration:none; }

.m_hammn>li>ul{
	width: 400%; position: absolute;right: 0;
	border: 1px solid #996600; box-sizing: border-box;
	background-color: #333;
	position: absolute;
	
	z-index: 99;
}
.m_hammn>li>ul>li{border-bottom: 1px solid  #996600; box-sizing: border-box;
	background-color: #fff;

height:50px;
}
.m_hammn>li>ul>li:last-child{border-bottom: 0;}
.m_hammn>li>ul>li:hover{background-color:  #996600;}

.m_hammn>li>ul>li>a{display: block;
	font-size: 2rem; color:  #996600;}
.m_hammn>li>ul>li>a:hover{color: #fff;}

/*메뉴*/
.b_header{width: 100%; height: 55px; background-color: #cc9933;}
.b_header>.menu{width: 1200px; height: 55px; margin: 0 auto;
position: relative;}


.b_header>.menu> .mainmn{height: 55px;
    overflow: hidden;}

.b_header>.menu> .mainmn:after{content: ""; display: inline-block; clear: both;}

.b_header>.menu> .mainmn>li{float: left;
	width: 12.5%; 
    text-align: center;
	line-height: 55px;
	 }
.b_header>.menu> .mainmn>li:last-child{margin-right: 0; width: 55px; 
    float: right;
}


.b_header>.menu> .mainmn>li>a{font-size: 1.8rem; color: #fff; }
.b_header>.menu> .mainmn>li>a:hover{color: #cf3128; transition: 0.2s;}
.b_header>.menu> .mainmn>li>a:focus{color: #cf3128;}

.b_header>.menu:hover .submn{z-index: 10; 
	display: block;/*transition: all 0.5s;*/}

/*서브메뉴*/



.submn{position: absolute; top: 100%; z-index: 0;
	display: none;
width: 1200px; background-color: #fff;
}
.submn:after{content: ""; display: block; clear: both;}


.submn>ul{float: left; width: 12.5%;
border-right: 1px solid #cc9933;}
.submn>ul>li{width: 100%;
    text-align: center;
	line-height: 55px;
	height: 55px;

}

.submn>ul>li>a{font-size: 1.6rem; color: #333;
	display: block;
}

.submn>ul>li:hover{background-color: #cc9933; transition: 0.5s;}
.submn>ul>li>a:hover{color: #fff;}
.submn>ul>.emptybox:hover{background-color: #fff;}

/*사이드메뉴*/
.sidemn{width: 135px; height: 210px; background-color: #fff;
position: absolute;top: 350px; z-index: 1;}
.sidemn>.txtbox{padding: 22px 12px;}
.sidemn>.txtbox>span{font-size: 1.6rem; display: block; text-align: center;
	width: 110px; height: 40px; line-height: 40px;
	border-bottom: 1px dotted #000;}
.sidemn>.txtbox>span:last-child{border: 0;}

.sidemn>.txtbox>span:hover{font-weight: bold;}


/*메인이미지*/
#mainimg{position: relative;}
#mainimg>.mainslide{width: 100%;
	/*background-image: url(../img/mainimg1.jpg); background-repeat: no-repeat;background-position: center center;
	background-size: cover;*/
overflow: hidden;}


#mainimg>.mainslide{}
#mainimg>.mainslide>ul{}
#mainimg>.mainslide>ul>li{}
#mainimg>.mainslide>ul>.slider1{

}
#mainimg>.mainslide>ul>.slider2{}


/*메인버튼*/

.mainbtn>.arrbtn>.arr_left{position: absolute; top: 40%; left: 10%; opacity: 0.5; transition: 0.2s;}
.mainbtn>.arrbtn>.arr_left:hover{opacity: 1; transition: 0.3s;}
.mainbtn>.arrbtn>.arr_right{position: absolute; top: 40%; right: 10%; opacity: 0.5; transition: 0.2s;}
.mainbtn>.arrbtn>.arr_right:hover{opacity: 1; transition: 0.3s;}


.mainbtn>.centerbtn{position: absolute; left: 0; right: 0; margin: 0 auto; bottom: 80px; 
width: 135px; height: 35px; background-color: rgba(0,0,0,.5); border-radius: 30px;
text-align: center; }
.mainbtn>.centerbtn:hover{background-color: rgba(0,0,0,1); transition: 0.3s;}

.mainbtn>.centerbtn>.selected_dot{background-image: url(../img/btn_selected_dot.png); background-repeat: no-repeat; background-position: center center;
left: 20px;}
.mainbtn>.centerbtn>.dot{background-image: url(../img/btn_dot.png); background-repeat: no-repeat; background-position: center center;
left: 60px;}
.mainbtn>.centerbtn>.play{background-image: url(../img/btn_paluse.png); background-repeat: no-repeat; background-position: center center;
left: 95px;}

.mainbtn>.centerbtn>a{position: absolute; width: 24px; height: 24px; top: 5px;

}

/*.mainbtn>.play:hover{
	background-image: url(../img/btn_paly.png); background-repeat: no-repeat; background-position: center center;
left: 95px;}*/

/*예매*/
.ticketing{width: 1200px; height: 105px; margin: 0 auto;}
.ticketing>div{
	display: inline-block; border-right: 1px solid #996600; box-sizing: border-box;
height: 105px; margin-right: 25px; padding-right: 25px;
text-align: center;

}
.ticketing>div:last-child{margin: 0; padding: 0; border-right: none;}


.ticketing>div>span{font-size: 2.2rem;
display: inline-block; margin-top: 15px;}
.ticketing>div>.ticket_arr{width: 26px; height: 26px; vertical-align: sub;
	background-image: url(../img/arr_yellow.png);
background-repeat: no-repeat;
display: inline-block; margin-left: 20px; transition: 0.2s;}
.ticketing>div>p{font-size: 1.8rem; margin-top: 10px;}

.ticketing>div:hover .ticket_arr{background-image: url(../img/arr_red.png); transition: 0.3s;}

/*국악원소식*/
.news{width: 100%; height: 795px; background-color: #fdefd2;}
.news>h3{text-align: center; font-size: 4rem; padding-top: 70px;}

.news>.inner{width: 1200px; margin: 100px auto 0; }
.news>.inner:after{content: ""; display: inline-block; clear: both;}

.news>.inner>.notice{float: left; width: 70%;}
.news>.inner>.notice>div{display: inline-block; margin-right: 3%; width: 30%;
position: relative;}

/*빨간박스*/
.news>.inner>.notice>div>.small{width: 75px; height: 75px; background-color: #373737; transition: 0.1s;
position: absolute; top: -40px; left: -20px;}
.news>.inner>.notice>div>.small>span,.news>.inner>.notice>div>.small>strong{color: #fff; text-align: center; display: block;}
.news>.inner>.notice>div>.small>span{font-size: 1.6rem;padding-top: 5px;}
.news>.inner>.notice>div>.small>strong{font-size: 3rem;}
	
/*흰박스*/
.news>.inner>.notice>div>.big{background-color: #fff; padding: 50px 30px 50px;}
.news>.inner>.notice>div>.big>h4{font-size: 1.8rem;}
.news>.inner>.notice>div>.big>p{font-size: 1.6rem; margin-top: 20px;}


.news>.inner>.notice>.notice03>.plus{position: absolute; bottom: -15px; right: -15px;
	width: 49px; height: 49px; background-image: url(../img/plus_white.png);
	transition: 0.2s;
}
.news>.inner>.notice>.notice03>.plus:hover{background-image: url(../img/plus_gray.png); transition: 0.3s;}

.news>.inner>.notice>div>.small:hover {background-color: #cf3128; transition: 0.3s;}
/*.news>.inner>.notice>div>.big:hover .small{background-color: #cf3128;}*/


/*슬라이드배너*/
.news>.inner>.slide{float: right; width: 30%;
	position: relative;
	}
.news>.inner>.slide>.slider{
	}
.news>.inner>.slide>img{
	position: absolute;
	opacity: 0.5;
transition: 0.1s;}
.news>.inner>.slide>img:hover{opacity: 1; transition: 0.3s;}

.news>.inner>.slide>.left{bottom: 2px; right: 110px;}
.news>.inner>.slide>.middle{bottom: 2px; right: 62px;}
.news>.inner>.slide>.right{bottom: 2px; right: 15px;}

/*일정*/
.calendar{width: 1200px; height: 195px;margin: 290px auto 60px; background-color: #fff;
position: relative;}
.calendar:before{content: ""; width: 100%; height: 195px; background: #fff;
    display: block;
    position: absolute;   
    margin-left: -100%;}

.calendar>.small{width: 146px; height: 160px; background-color: #cc9933;
position: absolute; top:-25px; left: -30px;
transition: 0.1s;}
.calendar>.small>.txt>span{font-size: 1.6rem; color: #fff; display: block; text-align: center;}
.calendar>.small>.txt>span>strong{font-size: 4.6rem;}
.calendar>.small>.txt>.line{width: 100px; height: 2px; background-color: #fff; margin: 0 auto; margin-bottom: 10px;}
.calendar>.small>.txt{padding-top: 20px;}


.calendar>.big{width: 100%; height: 195px; 
}
.calendar>.big>.txt_box{margin-left: 150px;

}
.calendar>.big>.txt_box>div{width: 49%; height: 97.5px;
	display: inline-block;
}

.calendar>.small:hover{background-color: #cf3128; transition: 0.3s;}


.calendar>.big>.txt_box>div>p{font-size: 1.8rem;
margin-top: 5%;}
.calendar>.big>.txt_box>div>p>span{color: #cc9933;}
.calendar>.big>.txt_box>div>span{font-size: 1.6rem; margin-left: 25%; }


/*배너*/
.banner{width: 1200px; height: 595px; margin: 0 auto;}
.banner:after{content: ""; display: inline-block; clear: both;}


.banner>div{float: left; margin-right: 2.5%; margin-top: 10%;
position: relative; 
overflow: hidden;}
.banner>div:last-child{margin-right: 0; }
.banner>div>p{font-size: 2.5rem; position: absolute; top: 79%; left: 30%;}
.banner>div:first-child>p{left: 33%;}
.banner>div:last-child>p{left: 25%;}

.banner>div>.cover{ width: 277px; height: 349px; background-color: rgba(0,0,0,0);
position: absolute; top: 0;
text-align: center;
transform: translate(0,-100%); transition: all 0.6s;}
.banner>div:hover .cover{/*display: block;*/
transform: translate(0,0%); transition: all 0.6s;
 background-color: rgba(0,0,0,.8);}

.banner>div>.cover>img{margin-top: 20%;}
.banner>div>.cover>p{font-size: 2rem; color: #fff; margin-top: 5%;}



/*국악자료실*/
.archives{width: 100%; height: 760px; background-color: #fdefd2;
position: relative;
margin-bottom: 120px;}
.archives>.inner{width: 1200px; height: 760px; margin: 0 auto;}

.archives>.inner>h3{text-align: center; font-size: 4rem; padding-top: 70px;}

.archives>.inner:after{content: ""; display: inline-block; clear: both;}

.archives>.inner>div{float: left;  margin-right: 2.5%; margin-top: 5%;
position: relative;
overflow: hidden;}
.archives>.inner>div:last-child{margin-right: 0;}

.archives>.inner>div>p{
	font-size: 2.5rem;
position: absolute; top: 80%; left: 30%;}
.archives>.inner>div:nth-child(4)>p{top: 72%; left: 32%;}
.archives>.inner>div:nth-child(4)>p>span{display: block; text-align: center; font-size: 2rem; padding: 5%;}
.archives>.inner>div:nth-child(5)>p{left: 20%;}

.archives>.plus{
	position: absolute; bottom: 7%; right: 17%;
	width: 49px; height: 49px; background-image: url(../img/plus_white.png);
	transition: 0.2s;
}
.archives>.plus:hover{
	background-image: url(../img/plus_gray.png);
	transition: 0.3s;
}

.archives>.inner>div>.cover{width: 277px; height: 498px; background-color: rgba(0,0,0,0);
	text-align: center;
	position: absolute; top: 0;
	transform: translate(-100%,0); transition: all 0.6s;
	
}
.archives>.inner>div:hover .cover{transform: translate(0,0); transition: all 0.6s;
background-color: rgba(0,0,0,.8);
	
}

.archives>.inner>div>.cover>img{margin-top: 35%;}
.archives>.inner>div>.cover>p{font-size: 2rem; color: #fff; margin-top: 5%;}


/*하단*/
#footer{width: 100%; background-color: #3d3d3d;
	position: relative;
}


#footer>.t_footer{width: 1200px; height: 75px; margin: 0 auto; border-bottom: 1px solid #616161; box-sizing: border-box;
	text-align: center
}

#footer>.t_footer>.top{width: 61px; height: 61px; background-image: url(../img/top_yellow.png);
	transition: 0.2s;
position: absolute; top: -15%; right: 18.5%;
}
#footer>.t_footer>.top:hover{background-image: url(../img/top_red.png); transition: 0.3s}

#footer>.t_footer>ul{line-height: 75px;	
	display: inline-block;
	width: 800px;
}
#footer>.t_footer>ul>li{float: left; font-size: 2rem; color: #fff; margin-right: 5%;
}
#footer>.t_footer>ul>li:last-child{margin-right: 0;}

#footer>.t_footer>ul>li:before{content: ""; display: inline-block;
	width: 4px; height: 4px; background-color: #ccc;
	margin-right: 10px;
}
#footer>.t_footer>ul>li:first-child:before{display: none;}

/*하단 밑*/
#footer>.b_footer{width: 1200px; height: 125px; margin: 0 auto;}

#footer>.b_footer>address,#footer>.b_footer>p{font-size: 2rem; text-align: center;}
#footer>.b_footer>address{color: #fff; font-style: normal; margin-top: 2%;}
#footer>.b_footer>p{color: #616161; margin-top: 1%; }

#footer>.b_footer>.logo{position: absolute; top: 42%; right: 18.5%;}


@media (max-width:1279px) {
	.t_header{width: 100%;}
	
	.b_header>.menu,.submn{width: 100%;}
	.submn>ul>li>a{font-size: 1.2rem;}
	.sidemn{display: none;}
	
	/*#mainimg>.mainslide{height: 0; padding-top: calc(580/1920*100%);
	}*/
	
	.ticketing{width: 100%;
	padding-bottom:210px;}
	.ticketing>div{display: block; margin: 0; padding: 0;
		border-right: 0;
	border-bottom: 1px dotted #996600;}
	.ticketing>div:first-child{border-top:  1px dotted #996600;}
	
	.news{height: 900px;}
	
	.news>.inner,.news>.inner>.notice{width: 100%;}
	.news>.inner>.notice{margin-left: 1.2%;}
	.news>.inner>.notice>div>.small{width: 100%; left: 0;}
	.news>.inner>.notice>div>.big{margin-top: 10px;}
	
	.news>.inner>.slide{width: 50%;}
	.news>.inner>.slide{margin-top: 50px; }
	.news>.inner>.slide>.slider>img{}
	.news>.inner>.slide>.right{right: 40px;}
	.news>.inner>.slide>.middle{right: 90px;}
	.news>.inner>.slide>.left{right: 140px;}
	
	.calendar{width: 45%; margin: 320px 0 0 20px;}
	.calendar:before{display: none;}
	.calendar>.small{width: 100%; height: 80px; left: 0; top: -5px;}
	.calendar>.big{height: 160px; background-color: #fff; padding-top: 80px;/*스몰 앱솔루트때문에 스몰 높이값만큼 따로 높이 더 줘야 함*/}
	.calendar>.small>.txt{text-align: center; line-height: 30px;}
	.calendar>.small>.txt>span{display: inline;}
	.calendar>.small>.txt>.line{display: none;}
	
	.calendar>.big>.txt_box{margin-left: 0; }
	.calendar>.big>.txt_box>div{display: inline;}
	.calendar>.big>.txt_box>div>p{margin: 0;}
	
	.banner{width: 100%; height: 500px;}
	.banner>div{width: 25%; margin-right:0;}
	.banner>div>img{margin-left: 5%;}
	.banner>div:first-child>img{margin-left:0;}
	.banner>div>.cover{margin-left: 5%; width: 95%;}
	.banner>div:first-child>.cover{margin-left:0;}

	.banner>div:first-child>p,.banner>div>p{left: 25%;}
	.banner>div:last-child>p{left: 15%;}
	
	
	.archives>.inner{width: 100%;}
	
	.archives>.inner>div{width: 25%; margin-right:0;}
	.archives>.inner>div>img{margin-left: 5%;}
	.archives>.inner>div:nth-child(2)>img{margin-left: 0;}
	.archives>.inner>div>.cover{margin-left: 5%; width: 95%;}
	.archives>.inner>div:nth-child(2)>.cover{margin-left:0;}
	
	.archives>.inner>div:nth-child(5)>p {left: 8%;}

	/*.archives>.inner>div>img{width: 100%;}*/
	
	.archives>.plus{bottom: -3%; right: 45%;}
	
	#footer>.t_footer>.top{display: none;}
	#footer>.t_footer,#footer>.t_footer>ul{width: 100%; padding-left: 1%}
	#footer>.t_footer>ul>li{margin-right:2.5%;}
	
	#footer>.b_footer{width: 100%;}
	#footer>.b_footer>address, #footer>.b_footer>p{text-align: left; margin-left: 2%;}
	#footer>.b_footer>.logo{top: 70%; right: 2%;}
	
	
	
}


@media (max-width:767px) {
	.t_header>ul,.b_header,.mainbtn>.arrbtn,.ticketing>div>p{display: none;}
	.m_hammn{display: block !important}
	/*.m_hammn{display: inline-block;}*/
	
	.t_header{border-bottom: 1px solid #996600;}
	.t_header>.logo{float: revert; display: inline-block; margin: 20px 20px 0; }
	.t_header>.logo>a>img{ width: 80%;}
	
	
	/*#mainimg>.mainslide{background-image:url(../img/mobile_mainimg1.png);
	padding-top:calc(323/768*100%);}*/
	
	
	/*모바일사이
	#mainimg>.mainslide img{display: none;}
	#mainimg>.mainslide{width: 100%; height: 323px;
	background-image: url(../img/mobile_mainimg1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	}
	*/
	
	.mainbtn>.centerbtn{bottom:10px;}
	
	
	.ticketing>div>span{margin-top:35px;}
	
	
	.news{height: 1500px;}
	.news>.inner{margin-left: 0; margin-top: 20px;}
	.news>.inner>.notice{margin-left:0; width: 100%;}
	
	.news>.inner>.notice>div{width: 90%; margin-left: 5%;}
	.news>.inner>.notice>div>.small{top: 25px; left: 15px;
		width: 90%; height: 50px; line-height: 50px; text-align: center;}
	.news>.inner>.notice>div>.small>span{display: inline-block;}
	.news>.inner>.notice>div>.small>strong{display: inline-block;}
	
	.news>.inner>.notice>div>.big{padding-top: 80px; padding-bottom: 20px;}
	.news>.inner>.notice>div>.big>h4{border-bottom: 1px dotted #333; padding-bottom: 10px;}
	
	.news>.inner>.slide{width: 100%;}
	
		
	/*pc500에 맞게한거*/
	.news>.inner>.slide>.slider{padding-left: 15%;}
	.news>.inner>.slide>.right{right: 65px;}
	.news>.inner>.slide>.middle{right: 110px;}
	.news>.inner>.slide>.left{right: 156px;}
	/**/
	
	.calendar{width: 90%; margin-top: 1050px;}
	
	.calendar>.big{}
	
	/*pc500에 맞게한거*/
	.calendar>.big>.txt_box{margin-left: 16%;}
	/**/
	
	.calendar>.small{height: 70px;}
	.calendar>.small>.txt{line-height: 20px;}
	
	
	
	.banner{height: 1600px; text-align: center;}
	.banner>div{width: 100%;}
	.banner>div:first-child>img{margin-left: 6%;}
	.banner>div>.cover,.banner>div:first-child>.cover{width: 277px; margin-left: 12%; display: none;}
	.banner>div:first-child>p {left: 43%;}
	.banner>div>p {left: 40%;}
	.banner>div:last-child>p{left: 38%;}
	
	/*pc500에 맞춘거
	.banner>div{width: 100%; text-align: center; }
	.banner>div:first-child>img{margin-left: 5%}
	.banner>div>.cover,.banner>div:first-child>.cover{width: 277px; margin-left: 23.5%;}
	
	.banner>div:first-child>p {left: 42%;}
	.banner>div>p {left: 40%}
	.banner>div:last-child>p{left: 38%;}
	*/
	
	.archives{height: 2300px; margin-top: 20%;  text-align: center;}
	.archives>.inner>h3{margin-bottom: 20px;}
	
	.archives>.inner>div{width: 100%;}
	.archives>.inner>div:nth-child(2)>img{margin-left: 6%;}
	
	.archives>.inner>div:nth-child(2)>.cover,.archives>.inner>div>.cover{width: 277px; margin-left: 12%; display: none;}
	.archives>.inner>div>p{left: 42%;}
	.archives>.inner>div:nth-child(4)>p{left: 42%;}
	.archives>.inner>div:nth-child(5)>p{left: 35%;}
	
	.archives>.inner>div>.cover{opacity: 0;}
	.archives>.inner>div:hover .cover{opacity: 1;}
	
	/*pc500에 맞춘거
	.archives>.inner>div{width: 100%; text-align: center;}
	.archives>.inner>div:nth-child(2)>img{margin-left: 5%}
	.archives>.inner>div>img{}
	
	.archives>.inner>div:nth-child(2)>.cover,.archives>.inner>div>.cover{width: 277px; margin-left: 24%;}
	
	
	.archives>.inner>div>p{left: 42%;}
	.archives>.inner>div:nth-child(4)>p{left: 42%;}
	.archives>.inner>div:nth-child(5)>p{left: 35%;}
	
	.archives>.inner>div>.cover{opacity: 0;}
	.archives>.inner>div:hover .cover{opacity: 1;}
	*/
	
	.archives>.plus{bottom: -1%;}
	
	#footer>.t_footer{height: 205px; padding: 0; border-bottom: 0;}
	#footer>.t_footer>ul>li:first-child:before{display: block;
	content: ""; display: inline-block;
	width: 4px; height: 4px; background-color: #ccc;
	margin-right: 10px;}
	#footer>.t_footer>ul>li:before{margin-left: 20px;}
	
	#footer>.t_footer>ul{padding: 0;}
	#footer>.t_footer>ul>li{display: block; width: 100%; border-bottom: 1px dotted #ccc; line-height:50px; text-align: left;  margin: 0;}
	#footer>.t_footer>ul>li:last-child{border-bottom: 0;}
	
	#footer>.b_footer{height: 160px;}
	#footer>.b_footer>.logo{display: none;}
	
	#footer>.b_footer>address, #footer>.b_footer>p{margin: 2%;}
	
}















